<script>
  <%= @contacts.html_safe %>
</script>

<ul class="nav nav-pills">
  <li class="active">
    <a href="#">All</a>
  </li>
</ul>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Contact</th>
      <th>Type</th>
      <th>Phone</th>
      <th>Pager</th>
      <th>Alpha</th>
      <th>Email</th>
    </tr>
  </thead>
</table>
